* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}



/*-----------*/
/*----NAV----*/
/*-----------*/
.navDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: linear-gradient(#12151c, #1b1f2a90);
    -webkit-box-shadow: inset 1px 10px 40px 0px rgba(0,0,0,0.55);
    box-shadow: inset 1px 10px 40px 0px rgba(0,0,0,0.55);
    position: fixed;
    bottom: 0;
}

.navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 12px;
}

.navDiv a {
    color: #e0ddd5;
    padding: 10px;
    margin: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.navDiv a:hover {
    background-color: #ddd;
    color: black;
}

.sandWhichMenu {
    width: 50px;
}

.sandwhichMenu i {
    color: white;
    font-size: 30px;
    padding: 5px 10px;
}

.sandwhichMenu i:hover {
    cursor: pointer;
}




/*------------*/
/*----HOME----*/
/*------------*/
.headerBackground {
    background: url('./resources/20170423_154859.jpg');
    background-size: cover;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
}

.pageOverlay {
    height: 100%;
    background-color: #111111c9;
}

.homePageScroll {
    padding-top: 70px;
    padding-bottom: 40px;
}


.headerBackground h1,
.headerBackground h2 {
    margin: 0;
    color: #eee;
    text-align: center;
}

.headerBackground h1 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 300;
    padding-top: 100px;
    -webkit-transition: .3s;
    transition: .3s;
}

.headerBackground h2 {
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: lighter;
    padding-top: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 170px;
}


/*=====LEFT SIDE=====*/
.introLeftSideContainer {
    grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: .5px solid white;
    margin-right: 1px;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv h3 {
    margin: 0;
    padding-bottom: 5px;
    color: white;
    font-size: 12px;
    border-bottom: 1px solid white;
    font-weight: 400;
    width: 100%;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv button {
    padding: 8px 12px;
    font-size: 12px;
    margin-top: 15px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #444;
    color: #eee;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv button:hover {
    background-color: #222;
    color: #eee;
}



/*=====RIGHT SIDE=====*/
.introRightSideContainer {
    grid-column: 2;
    border-left: .5px solid white;
    margin-left: 1px;
    -webkit-transition: .3s;
    transition: .3s;
}


.introRightSideContainer h4 {
    margin: 0;
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid white;
    font-weight: 400;
    color: white;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv ul {
    list-style: none;
    text-align: center;
    color: white;
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid white;
    -webkit-transition: .3s;
    transition: .3s;
}

.bodyDiv li {
    font-size: 13px;
    line-height: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}

.aboutMeTitleDiv {
    grid-column: 1 / -1;
    margin-top: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}

.aboutMeTitleDiv h3 {
    border: none;
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    -webkit-transition: .3s;
    transition: .3s;
}

.projectsBtnDiv {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 8px 0 15px 0;
    -webkit-transition: .3s;
    transition: .3s;
}


/*=====LEFT TO RIGHT=====*/
.homeFullContainer {
    grid-column: 1 / -1;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeFullContainer p {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 0 25px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeSkillsTitle {
    grid-column: 1 / -1;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeSkillsTitle h3 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: 400;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeSkillsLeft {
    border-right: 1px solid white;
    margin-right: 1px;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeSkillsRight {
    border-left: 1px solid white;
    margin-left: 1px;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeSkillsLeft ul,
.homeSkillsRight ul {
    margin-bottom: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeContactTitle {
    grid-column: 1 / -1;
    margin-top: 45px;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeContactTitle h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeContactInfo {
    grid-column: 1 / -1;
    margin-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}

.homeContactInfo ul {
    padding: 10px;
    margin: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.iconsDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}

.gitIcon:visited,
.linkIcon:visited,
.googIcon:visited,
.instaIcon:visited {
    color: #eee;
}

.gitIcon:hover {
    color: #6e5494;
}

.linkIcon:hover {
    color: #0077B5;
}

.googIcon:hover {
    color: #dd4b39;
}

.instaIcon:hover {
    color: #fbad50;
}

.icons {
    font-size: 40px;
    color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
}







/*--------------*/
/*---PROJECTS---*/
/*--------------*/
.projectsHeaderBackground {
    background: url('./resources/paris.jpg');
    background-size: cover;
    height: 100%;
    background-position: top;
    background-attachment: fixed;
}

.projectsPageOverlay {
    height: 100%;
    background-color: #111111c9;
}

.projectsPageScroll {
    padding-top: 70px;
    padding-bottom: 40px;
}

.projectsPageScroll h1 {
    color: white;
    font-weight: lighter;
    font-size: 60px;
    letter-spacing: 3px;
    padding: 70px 0;
    text-align: center;
}

.mappedProjectsContainer {
    margin-top: 100px;
}



/*--------------*/
/*---PROJECT----*/
/*--------------*/
.projectContainer {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #3339;
    -webkit-box-shadow: 1px 2px 28px -3px rgba(28,28,28,1);
    box-shadow: 1px 2px 28px -3px rgba(28,28,28,1);
    -webkit-transition: .3s;
    transition: .3s;
}

.projectContainer:hover {
    background-color: #5559;
}


h3.tileContainer {
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 24px;
    color: white;
    font-size: 18px;
}

.tileContainer button {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: #1110;
    border: none;
}

p.projectDescription {
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: white;
}

.projectImgsDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.projectImgsDiv button {
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.projectImgsDiv img {
    width: 85px;
    height: 85px;
    border-radius: 3px;
}

.projectUrlBtnDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
}

.projectUrlBtnDiv button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #e0ddd5;
    border: none;
    margin-bottom: 10px;
    z-index: 0;
}

.projectUrlBtnDiv a {
    text-decoration: none;
    font-size: 17px;
    color: #283d70;
    z-index: 0;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #333;
    color: white;
}

.projectUrlBtnDiv button:hover {
    cursor: pointer;
}




/*--------------*/
/*----FOOTER----*/
/*--------------*/
.footerDiv {
    height: 15px;
    background-color: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 8px;
    font-weight: 200;
    position: fixed;
    top: 0;
    width: 100%;
}






/*---------------*/
/*----QUERIES----*/
/*---------------*/
/*-----400PX-----*/
@media only screen and (min-width: 400px){
/*-----HOME-PAGE-----*/
    .navDiv {
        position: relative;
        top: 0;
        background-color: #333;
    }

    .headerBackground h1 {
        padding-top: 120px;
    }

    .headerBackground h2 {
        padding-top: 10px;
    }

    .bodyDiv {
        margin-top: 200px;
    }

    .introLeftSideContainer h3 {
        font-size: 15px;
    }

    .bodyDiv img {
        width: 160px;
        height: 160px;
    }

    .introRightSideContainer h4 {
        font-size: 23px;
        color: white;
        text-align: center;
    }

    .introRightSideContainer ul {
        padding: 10px 0;
    }

    .introRightSideContainer li {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .aboutMeTitleDiv {
        margin-top: 40px;
    }

    .aboutMeTitleDiv h3 {
        font-size: 23px;
        letter-spacing: 3px;
    }

    .homeFullContainer p {
        padding: 10px;
        font-size: 16px;
    }

    .homeSkillsTitle h3 {
        font-size: 23px;
        letter-spacing: 3px;
        margin-top: 20px;
    }

    .homeSkillsLeft li,
    .homeSkillsRight li {
        font-size: 16px;
    }

    .homeContactTitle h3 {
        font-size: 23px;
        letter-spacing: 3px;
    }

    .homeContactInfo li {
        font-size: 16px;
    }

    .iconsDiv {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
    }

    .footerDiv {
        bottom: 0;
        position: static;
    }


}


/*-----500PX-----*/
@media only screen and (min-width: 500px){
/*-----HOME-PAGE-----*/
    .headerBackground h1 {
        font-size: 60px;
    }

    .headerBackground h2 {
        font-size: 19px;
    }

    .introLeftSideContainer h3 {
        font-size: 18px;
    }

    .bodyDiv img {
        width: 200px;
        height: 200px;
    }

    .introRightSideContainer h4 {
        font-size: 25px;
    }

    .introRightSideContainer ul {
        padding: 20px 0;
    }

    .introRightSideContainer li {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 2px 0;
    }

    .aboutMeTitleDiv {
        margin-top: 50px;
    }

    .aboutMeTitleDiv h3 {
        font-size: 25px;
    }

    .homeFullContainer p {
        padding: 20px 50px;
        font-size: 18px;
    }

    .projectsBtnDiv {
        margin: 15px 0 27px 0;
    }

    .projectsBtnDiv button {
        padding: 10px 15px;
        letter-spacing: 1px;
    }

    .homeSkillsTitle h3 {
        font-size: 25px;
    }

    .homeSkillsLeft li,
    .homeSkillsRight li {
        font-size: 18px;
    }

    .homeContactTitle h3 {
        font-size: 25px;
        margin-top: 20px;
    }

    .homeContactInfo li {
        font-size: 18px;
    }

    .iconsDiv {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: 50px;
        margin-right: 50px;
    }

    .icons {
        font-size: 45px;
    }

/*--PROJECTS--*/
    .projectsPageScroll h1 {
        font-size: 65px;
        letter-spacing: 5px;
    }

    h3.tileContainer {
        font-size: 26px;
        font-weight: lighter;
        letter-spacing: 3px;
    }

    p.projectDescription {
        font-size: 16px;
        letter-spacing: 1.5px;
    }

    .projectImgsDiv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 35px;
    }

}




/*-----600PX-----*/
@media only screen and (min-width: 600px){
/*-----HOME-PAGE-----*/
    .headerBackground h1 {
        font-size: 65px;
        letter-spacing: 3px;
    }

    .headerBackground h2 {
        font-size: 21px;
    }

    .bodyDiv img {
        width: 230px;
        height: 230px;
    }

    .introLeftSideContainer button {
        padding: 15px 20px;
        font-size: 16px;
        font-weight: lighter;
        letter-spacing: 1px;
    }

    .introRightSideContainer li {
        font-size: 18px;
        letter-spacing: 2px;
        padding: 4px 0;
    }

    .aboutMeTitleDiv {
        margin-top: 70px;
    }

    .aboutMeTitleDiv h3 {
        font-size: 30px;
    }

    .homeFullContainer p {
        /* padding: 20px 50px;
        font-size: 18px; */
    }

    .projectsBtnDiv button {
        margin: 20px 0 5px 0;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: lighter;
    }

    .homeSkillsTitle h3 {
        font-size: 30px;
    }

    .homeSkillsLeft li,
    .homeSkillsRight li {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .homeContactTitle h3 {
        font-size: 30px;
        /* margin-top: 20px; */
    }

    .homeContactInfo li {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .iconsDiv {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-left: 70px;
        margin-right: 70px;
    }

    .icons {
        font-size: 50px;
    }



/*-----PROJECTS-----*/
    h3.tileContainer {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 4px;
    }

    p.projectDescription {
        font-size: 19px;
        letter-spacing: 1.5px;
    }

    .projectImgsDiv {
        /* display: flex;
        justify-content: space-between;
        margin: 0 35px; */
    }

    .projectsHeaderBackground h1 {
        font-size: 75px;
        letter-spacing: 5px;
        font-weight: 300;
    }

    .tileContainer {
        font-size: 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;;
    }

    .projectImgsDiv img {
        width: 150px;
        height: 150px;
    }

    .projectUrlBtnDiv button {
        padding: 10px 20px;
    }

    .projectUrlBtnDiv a {
        font-size: 18px;
    }

}



/*-----700PX-----*/
@media only screen and (min-width: 700px){
    .bodyDiv img {
        width: 260px;
        height: 260px;
    }

    .introLeftSideContainer h3 {
        font-size: 23px;
        letter-spacing: .5px;
    }

    .introRightSideContainer h4 {
        font-size: 28px;
        letter-spacing: 2px;
    }

    .introRightSideContainer li {
        font-size: 20px;
        padding: 8px 0;
    }
}





/*-----800PX-----*/
@media only screen and (min-width: 800px){
/*-----HOME-PAGE-----*/
    .projectsHeaderBackground h1 {
        font-size: 85px;
        letter-spacing: 5px;
        font-weight: 300;
    }

    .headerBackground h1 {
        font-size: 70px;
    }

    .headerBackground h2 {
        font-size: 25px;
    }

    .homePageScroll {
        margin: 0 50px;
    }


/*-----PROJECTS-----*/
    .tileContainer {
        font-size: 35px;
    }

    h3.tileContainer {
        font-size: 32px;
    }

    p.projectDescription {
        font-size: 21px;
    }

    .projectImgsDiv {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 35px;
    }

    .projectImgsDiv img {
        width: 200px;
        height: 200px;
    }

    .projectUrlBtnDiv button {
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    .projectUrlBtnDiv a {
        font-size: 18px;
    }

    .aboutInfoContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
    }

}


/*-----900PX-----*/
@media only screen and (min-width: 900px){
    .homePageScroll {
        margin: 0 100px;
    }

    .headerBackground h1 {
        font-size: 75px;
        letter-spacing: 3px;
    }

    .projectsPageScroll {
        margin: 0 50px;
    }
}

/*-----1000PX-----*/
@media only screen and (min-width: 1000px){
    .homePageScroll {
        margin: 0 150px;
    }

    .headerBackground h1 {
        font-size: 80px;
        letter-spacing: 5px;
    }

    .projectsPageScroll {
        margin: 0 100px;
    }
}

/*-----1100PX-----*/
@media only screen and (min-width: 1100px){
    .homePageScroll {
        margin: 0 200px;
    }

    .projectsPageScroll {
        margin: 0 150px;
    }
}


/*-----1200PX-----*/
@media only screen and (min-width: 1200px){
    .homePageScroll {
        margin: 0 250px;
    }

    .tileContainer {
        font-size: 40px;
    }

    .projectImgsDiv img {
        width: 250px;
        height: 250px;
    }

    .aboutInfoContainer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1, 200px);
    }


}
